*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background: rgba(10, 10, 11, 0.85);
}

#main{
    background: rgba(10, 10, 11, 0.85);
}

#app{
    background: rgba(10, 10, 11, 0.85);
}

.border-this{
    border: 1px solid red;
}